<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Gosslingate me!</title>
  <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <link rel='shortcut icon' type='image/x-icon' href='assets/ryan.ico'/>

</head>
<body>
<div id="app">
  <div class="upper">
    <h1>Goslingate me</h1>
    <div class="buttons">
      <button @click="addRyan" id="addRyan">Ryan!</button>
      <button
        @click="removeRyan"
        id="removeRyan"
        :class="{ disabled: isDisabled }"
        :disabled="isDisabled">
        Ryan out!
      </button>
    </div>
  </div>
  <div>
    <transition-group name="ryan">
      <img v-for="ryan in ryans"
           @click="removeSpecificRyan(ryan)"
           src="assets/ryan.png"
           :alt="ryan.id"
           v-bind:style="{ width: ryan.width+ 'px', top:ryan.top + 'px', left:ryan.left + 'px'}"
           :key="ryan.id"
      >
    </transition-group>
  </div>
  <div v-if="tooManyRyans">
    <h1 class="tooManyRyans">number of <br><span>ryans</span><br>is too damn<br><span>high</span></h1>
  </div>
  <div class="ryan-counter">
    <h2 id="ryanCounter" v-html="ryans.length"></h2>
    <h3 v-html="ryanCounterDescription">Ryans</h3>
  </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="index.js"></script>
</html>