$primary-color: #454543;
$primary-font: 'Monoton', 'serif';
body {
  background-image: url("assets/lightpaperfibers.png");
}

img {
  position: absolute;
  z-index: -1;
}

div.buttons {
  text-align: center;
  margin: 0 auto;
}

button {
  margin: 0 20px;
  z-index: 1;
  display: inline-block;
  padding: 20px 50px;
  background-color: $primary-color;
  font-size: 1.5em;
  border: none;
  transition: all 200ms ease-in-out;
  border-radius: 15px;
  color: #fff;
  font-family: $primary-font;
  -webkit-box-shadow: 10px 10px 43px -10px rgba(117, 117, 117, 1);
  -moz-box-shadow: 10px 10px 43px -10px rgba(117, 117, 117, 1);
  box-shadow: 10px 10px 43px -10px rgba(117, 117, 117, 1);
  &:active {
    -webkit-box-shadow: none;
    transform: translate(8px, 8px);
  }
  &:focus {
    outline: none;
  }
  &:disabled {
    background-color: #767674;
  }
}

button#addRyan:active {
  background-color: #00d701;
}

button#removeRyan:active {
  background-color: #d70026;
}

h1 {
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
  font-family: $primary-font;
  font-size: 5em;
  text-align: center;
  color: $primary-color;
  text-transform: uppercase;
}

@keyframes opacityPop {
  0% {
    color: #d70026;
  }
  100% {
  }
}

h1.tooManyRyans {
  animation: opacityPop 700ms ease-in-out;
  animation-iteration-count: infinite;
  font-size: 4em;
  span {
    font-size: 1.8em;
  }
}

div.ryan-counter {
  position: absolute;
  top: calc(100% - 200px);
  left: calc(100% - 200px);
  font-family: $primary-font;
  color: $primary-color;
  text-align: center;
  h2 {
    margin: 0;
    font-size: 3em;
  }
  h3 {
    font-size: 2em;
  }
}
.ryan-enter-active, .ryan-leave-active {
  animation: introduceRyan 0.3s ease-in;
}

.ryan-enter, .ryan-leave-to {
  animation: introduceRyan 0.3s reverse ease-out;
}

@keyframes introduceRyan {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}



